<div #trigger (click)="show()">
    <ng-content></ng-content>
</div>
<div *ngIf="isOpen" class="position-fixed">
    <div class="position-fixed" (click)="hide()"></div>

    <div #keypad class="numeric-keypad bg-light p-3 text-center large-text shadow" [ngStyle]="{
    'top.px': position.y, 
    'left.px': position.x
}">
        <div class="number d-grid mb-2">
            <div class="bg-white py-3 shadow-sm" (click)="inputNumber('7')">7</div>
            <div class="bg-white py-3 shadow-sm" (click)="inputNumber('8')">8</div>
            <div class="bg-white py-3 shadow-sm" (click)="inputNumber('9')">9</div>
            <div class="bg-white py-3 shadow-sm" (click)="inputNumber('4')">4</div>
            <div class="bg-white py-3 shadow-sm" (click)="inputNumber('5')">5</div>
            <div class="bg-white py-3 shadow-sm" (click)="inputNumber('6')">6</div>
            <div class="bg-white py-3 shadow-sm" (click)="inputNumber('1')">1</div>
            <div class="bg-white py-3 shadow-sm" (click)="inputNumber('2')">2</div>
            <div class="bg-white py-3 shadow-sm" (click)="inputNumber('3')">3</div>
            <div class="bg-white py-3 shadow-sm" (click)="inputNumber('0')">0</div>
            <div class="bg-white py-3 shadow-sm" (click)="inputNumber('00')">00</div>
            <div class="bg-dark text-white py-3 shadow-sm" (click)="inputNumber('000')">000</div>
        </div>
        <div class="etc d-grid">
            <div class="clear text-white py-3 shadow-sm" (click)="clear()">C</div>
            <div class="done text-white py-3 shadow-sm" (click)="hide()">確定</div>
        </div>
    </div>
</div>