.scroll {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    max-height: 75vh;
}

.close-button {
    position: absolute;
    top: -50px;
    right: 0;
    width: 40px;
    height: 40px;
}