<div class="py-4 px-3">
    <div class="bg-gray text-white py-2 px-4 rounded-left pos-name">{{ (user | async).pos?.name }}</div>
    <div class="mb-4">
        <h2 class="text-center large-text text-white mb-4">照会結果</h2>
        <div class="container bg-secondary mb-4">
            <div class="row align-items-stretch">
                <p class="col-4 py-3 text-white d-flex align-items-center justify-content-center">
                    購入番号</p>
                <p class="col-8 bg-white py-3">
                    <strong>{{ (inquiry | async).order.confirmationNumber }}</strong>
                </p>
            </div>
            <!-- <div class="row">
                    <p class="col-4 py-3 text-white d-flex align-items-center justify-content-center">
                        劇場 / スクリーン</p>
                    <p class="col-8 bg-white py-3">{{ (inquiry |
                        async).order.acceptedOffers[0].itemOffered.reservationFor.superEvent.location.name.ja }} / {{
                        (inquiry | async).order.acceptedOffers[0].itemOffered.reservationFor.location.name.ja }}</p>
                </div> -->
            <div class="row">
                <p class="col-4 py-3 text-white d-flex align-items-center justify-content-center">
                    作品</p>
                <p class="col-8 bg-white py-3">{{ (inquiry |
                    async).order.acceptedOffers[0].itemOffered.reservationFor.name.ja }}</p>
            </div>
            <div class="row">
                <p class="col-4 py-3 text-white d-flex align-items-center justify-content-center">
                    鑑賞日</p>
                <p class="col-8 bg-white py-3">{{ moment((inquiry |
                    async).order.acceptedOffers[0].itemOffered.reservationFor.startDate).format('YYYY/MM/DD (ddd) HH:mm') }}</p>
            </div>
            <div class="row">
                <p class="col-4 py-3 text-white d-flex align-items-center justify-content-center">
                    座席・券種</p>
                <div class="col-8 bg-white py-3">
                    <div *ngFor="let acceptedOffer of (inquiry | async).order.acceptedOffers" class="mb-2">
                        <p>{{ acceptedOffer.itemOffered.reservedTicket.ticketedSeat.seatNumber }}</p>
                        <p>{{ acceptedOffer.itemOffered.reservedTicket.ticketType.name.ja }} / {{
                            getTicketPrice(acceptedOffer).single | currency : 'JPY' }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <p *ngIf="moment((inquiry | async).order.acceptedOffers[0].itemOffered.reservationFor.endDate).unix() < moment().unix()" class="text-center text-white mb-4">鑑賞日が過去のものは印刷できません。</p>

    <div class="w-50 mx-auto">
        <button type="button" class="btn btn-block bg-primary py-3 text-white large-text btn-arrow" 
        [disabled]="(isLoading | async) || moment((inquiry | async).order.acceptedOffers[0].itemOffered.reservationFor.endDate).unix() < moment().unix()"
        (click)="print()">印刷</button>
    </div>

</div>

<app-navigation prevLink="/inquiry/input" [print]="false"></app-navigation>