<div class="p-3">
    <div class="mb-3">購入番号 <strong class="text-success large-text">{{ data.confirmationNumber }}</strong></div>
    <ul>
        <li class="mb-3 d-flex align-items-center" *ngFor="let acceptedOffer of data.acceptedOffers; let index = index">
            <div class="w-50">
                <p>{{ acceptedOffer.itemOffered.reservedTicket.ticketedSeat.seatNumber }}</p>
                <p>{{ acceptedOffer.itemOffered.reservedTicket.ticketType.name.ja }} / {{ acceptedOffer.itemOffered.reservedTicket.ticketType.charge | currency : 'JPY' }}</p>
            </div>
            <div class="w-50 text-center"><img [src]="urlList[index] | async"></div>
        </li>
    </ul>
    <div class="text-center"><button type="button" class="btn btn-outline-primary btn-block" (click)="activeModal.dismiss()">閉じる</button></div>
</div>