<div class="py-4 px-3">
    <h2 class="text-center large-text text-white mb-4">決済方法選択</h2>

    <div class="payment-select mb-4">
        <button type="button" class="btn btn-block bg-primary p-4 text-left text-white large-text mb-4" (click)="selectPaymentMethodType(paymentMethodType.Cash)">
            <div><i class="fas fa-yen-sign mr-3"></i>現金</div>
        </button>
        <button type="button" class="btn btn-block bg-primary p-4 text-left text-white large-text mb-4" (click)="selectPaymentMethodType(paymentMethodType.CreditCard)">
            <div><i class="fas fa-credit-card mr-3"></i>クレジットカード</div>
        </button>
        <button type="button" class="btn btn-block bg-primary p-4 text-left text-white large-text mb-4" (click)="selectPaymentMethodType(paymentMethodType.EMoney)">
            <div><i class="fas fa-mobile-alt mr-3"></i>電子マネー</div>
        </button>
        
    </div>

</div>

<app-navigation prevLink="/purchase/ticket"></app-navigation>