<div class="py-4 px-3">
    
    <h2 class="text-center text-large text-white mb-4">決済方法選択</h2>

    <div class="payment-select mb-4">
        <button type="button" class="btn btn-block bg-primary p-4 text-left text-white text-large mb-4 btn-arrow"
            (click)="selectPaymentMethodType(paymentMethodType.Cash)">
            <div class="d-flex align-items-center">
                <i class="icon mr-3"><img class="w-100" src="/assets/images/icon/cache.svg"></i>
                <strong>現金</strong>
            </div>
        </button>
        <button type="button" class="btn btn-block bg-primary p-4 text-left text-white text-large mb-4 btn-arrow"
            (click)="selectPaymentMethodType(paymentMethodType.CreditCard)">
            <div class="d-flex align-items-center">
                <i class="icon mr-3"><img class="w-100" src="/assets/images/icon/credit_card.svg"></i>
                <strong>クレジットカード</strong>
                <div class="ml-3"><img height="20" src="/assets/images/credit_card.png"></div>
            </div>
        </button>
        <button type="button" class="btn btn-block bg-primary p-4 text-left text-white text-large mb-4 btn-arrow"
            (click)="selectPaymentMethodType(paymentMethodType.EMoney)">
            <div class="d-flex align-items-center">
                <i class="icon mr-3"><img class="w-100" src="/assets/images/icon/e_money.svg"></i>
                <strong>電子マネー</strong>
                <div class="ml-3"><img height="20" src="/assets/images/e_money.png"></div>
            </div>
        </button>

    </div>

</div>

<app-navigation prevLink="/purchase/ticket"></app-navigation>