<div class="film p-3 bg-white">
    <p class="title large-text"><strong>{{ screeningFilmEvent.info.name.ja }}</strong></p>
    <div class="info">
        <div class="time small-text text-right">{{ moment.duration(screeningFilmEvent.info.duration).asMinutes() }}分</div>
    </div>
</div>
<ul class="bg-light p-3">
    <li *ngFor="let screeningEvent of screeningFilmEvent.data" class="rounded border py-3 py-md-3 text-md-center d-md-block d-flex justify-content-between align-items-center"
        [ngClass]="{ 
        'bg-white':  screeningEvent.remainingAttendeeCapacity > 0, 
        'bg-dark text-light':  screeningEvent.remainingAttendeeCapacity === 0}"
        (click)="select.emit(screeningEvent)">
        <div class="mb-md-2 small-text">
            {{ screeningEvent.location.name.ja }}
        </div>
        <div class="mb-md-2">
            <strong class="large-text">{{ moment(screeningEvent.startDate).format('HH:mm') }}</strong>
            <span>-</span>
            <span>{{ moment(screeningEvent.endDate).format('HH:mm') }}</span>
        </div>
        <div *ngIf="screeningEvent.remainingAttendeeCapacity >= 30" class="status text-center">
            <img src="/assets/images/status_01.svg">
        </div>
        <div *ngIf="screeningEvent.remainingAttendeeCapacity < 30 && screeningEvent.remainingAttendeeCapacity > 0"
            class="status text-center">
            <img src="/assets/images/status_02.svg">
        </div>
        <div *ngIf="screeningEvent.remainingAttendeeCapacity === 0" class="status text-center">
            <img src="/assets/images/status_03.svg">
        </div>
        <div *ngIf="screeningEvent.remainingAttendeeCapacity === 0" class="status text-center">
            <p>販売終了</p>
        </div>
    </li>
</ul>