<div class="film p-3 bg-white">
    <p class="title large-text"><strong>{{ screeningFilmEvent.info.name.ja }}</strong></p>
    <div class="d-flex justify-content-end align-items-center">
        <div class="small-text text-white bg-gray py-1 px-3 mx-2">{{
            screeningFilmEvent.info.workPerformed.contentRating }}</div>
        <div class="small-text mx-2">{{ moment.duration(screeningFilmEvent.info.duration).asMinutes() }}分</div>
    </div>
</div>
<ul class="bg-light p-3">
    <li *ngFor="let screeningEvent of screeningFilmEvent.data" class="rounded border py-3 px-3 px-md-0 text-md-center d-md-block d-flex justify-content-between align-items-center"
        [ngClass]="{ 
        'bg-white':  moment(screeningEvent.endDate).unix() >= moment().unix() && screeningEvent.remainingAttendeeCapacity > 0, 
        'bg-gray text-light not-event':  screeningEvent.remainingAttendeeCapacity === 0 || moment(screeningEvent.endDate).unix() < moment().unix()
        }"
        (click)="select.emit(screeningEvent)">
        <div class="mb-md-2 small-text">
            {{ screeningEvent.location.name.ja }}
        </div>
        <div class="mb-md-2">
            <strong class="large-text">{{ moment(screeningEvent.startDate).format('HH:mm') }}</strong>
            <span>-</span>
            <span>{{ moment(screeningEvent.endDate).format('HH:mm') }}</span>
        </div>
        <div *ngIf="moment(screeningEvent.endDate).unix() >= moment().unix()" class="status text-center">
            <div *ngIf="screeningEvent.remainingAttendeeCapacity >= 30" class="status text-center">
                <img src="/assets/images/status_01.svg">
            </div>
            <div *ngIf="screeningEvent.remainingAttendeeCapacity < 30 && screeningEvent.remainingAttendeeCapacity > 0"
                class="status text-center">
                <img src="/assets/images/status_02.svg">
            </div>
            <div *ngIf="screeningEvent.remainingAttendeeCapacity === 0" class="status text-center">
                <img src="/assets/images/status_03.svg">
            </div>
        </div>
        <div *ngIf="moment(screeningEvent.endDate).unix() < moment().unix()" class="status text-center">
            <p>販売終了</p>
        </div>
    </li>
</ul>