.position-fixed {
    bottom: 20px;
    width: 60px;
    height: 60px;
    padding: 15px;
    background-color: #0264a3;
}

.prev {
    left: 20px;
}

.home {
    left: 100px;
}

.print {
    right: 20px;
}

.setting {
    right: 100px;
}