<div class="py-4 px-3">

    <h2 class="text-center text-large text-white mb-4">スケジュール選択</h2>
    <div class="form-group bg-secondary border rounded d-grid align-items-center mx-auto">
        <div class="label text-white text-center ">鑑賞日</div>
        <!-- <select class="form-control rounded-0 py-2 text-large" (change)="selectDate()" [(ngModel)]="scheduleDateValue">
            <option *ngFor="let scheduleDate of (purchase | async).scheduleDates" [value]="scheduleDate.format">{{
                scheduleDate.string }}</option>
        </select> -->
        <input type="date" class="form-control rounded-0 py-2 text-large" name="date" [(ngModel)]="scheduleDate"
            (change)="selectDate()">
    </div>
    <app-purchase-schedule-film *ngFor="let screeningFilmEvent of (purchase | async).screeningFilmEvents"
        [screeningFilmEvent]="screeningFilmEvent" (select)="selectSchedule($event)" class="mb-3"></app-purchase-schedule-film>
    <div *ngIf="(purchase | async).screeningFilmEvents.length === 0">
        <p class="text-white">スケジュールが登録されてません。</p>
    </div>
</div>
<app-navigation [prev]="false" [home]="false"></app-navigation>