<div class="py-3 px-2">
    <div class="mb-4">
        <h2 class="text-center large-text text-white mb-4">購入内容確認</h2>

        <p class="mb-3 text-white text-center">※この先の操作の取り消しはできませんのでご注意ください。</p>

        <div class="container mb-4">
            <!-- <div class="row align-items-stretch">
                <p class="col-4 py-3 text-white d-flex align-items-center justify-content-center">
                    劇場 / スクリーン</p>
                <p class="col-8 bg-white py-3">{{ (purchase | async).screeningEvent.superEvent.location.name.ja }} / {{
                    (purchase | async).screeningEvent.location.name.ja }}</p>
            </div> -->
            <div class="row align-items-stretch">
                <p class="col-4 py-3 text-white d-flex align-items-center justify-content-center">
                    作品</p>
                <p class="col-8 bg-white py-3">{{ (purchase | async).screeningEvent.name.ja }}</p>
            </div>
            <div class="row align-items-stretch">
                <p class="col-4 py-3 text-white d-flex align-items-center justify-content-center">
                    鑑賞日</p>
                <p class="col-8 bg-white py-3">{{ moment((purchase |
                    async).screeningEvent.startDate).format('YYYY/MM/DD (ddd)') }}</p>
            </div>
            <div class="row align-items-stretch">
                <p class="col-4 py-3 text-white d-flex align-items-center justify-content-center">
                    座席・券種</p>
                <div class="col-8 bg-white py-3">
                    <div *ngFor="let reservation of (purchase | async).reservations" class="mb-2">
                        <p>{{ reservation.seat.seatNumber }}</p>
                        <p *ngIf="reservation.ticket">{{ reservation.ticket.ticketOffer.name.ja }} / {{
                            reservation.getTicketPrice().total | currency : 'JPY' }}</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-stretch" *ngIf="(purchase | async).authorizeSeatReservation.result.price > 0">
                <p class="col-4 py-3 text-white d-flex align-items-center justify-content-center">
                    決済方法</p>
                <p class="col-8 bg-white py-3">{{ (purchase | async).paymentMethod.name }}</p>
            </div>
        </div>
        <div class="container mb-4">
            <div class="row align-items-stretch">
                <p class="col-4 py-3 text-white d-flex align-items-center justify-content-center">
                    合計金額</p>
                <p class="col-8 bg-white py-3">{{ (purchase | async).authorizeSeatReservation.result.price | currency :
                    'JPY' }}</p>
            </div>
            <div class="row align-items-stretch" *ngIf="(purchase | async).paymentMethod && (purchase | async).paymentMethod.typeOf === paymentMethodType.Cash">
                <p class="col-4 py-3 text-white d-flex align-items-center justify-content-center">
                    お預かり金額</p>
                <p class="col-8 bg-white py-0 pr-0 d-flex align-items-center position-static">
                    <span>￥</span>
                    <app-numeric-keypad [inputValue]="depositAmount" (change)="depositAmount = $event" (hidden)="depositAmount = ($event.length > 0) ? $event : 0">
                        <input type="text" class="form-control large-text border-0 py-3 h-auto" id="depositAmount" [(ngModel)]="depositAmount" readonly="readonly">
                    </app-numeric-keypad>
                </p>
            </div>
            <div class="row align-items-stretch" *ngIf="(purchase | async).paymentMethod && (purchase | async).paymentMethod.typeOf === paymentMethodType.Cash">
                <p class="col-4 py-3 text-white d-flex align-items-center justify-content-center">
                    お釣り</p>
                <p class="col-8 bg-white py-3">{{
                    (depositAmount - (purchase | async).authorizeSeatReservation.result.price) | currency : 'JPY' }}</p>
            </div>
        </div>

        <div class="w-50 mx-auto">
            <button type="button" class="btn btn-block bg-primary py-3 text-white large-text" [disabled]="isLoading | async"
                (click)="onSubmit()">購入確定</button>
        </div>
    </div>
</div>

<app-navigation prevLink="/purchase/payment"></app-navigation>