<div class="p-3 scroll bg-white">
    <div class="mb-3 text-large">{{ title }}</div>
    <p class="mb-3" [innerHTML]="body"></p>
    <div class="w-75 mx-auto">
        <button type="button" class="btn btn-primary btn-block mb-2" (click)="activeModal.close()">はい</button>
        <button type="button" class="btn btn-outline-primary btn-block" (click)="activeModal.dismiss()">いいえ</button>
    </div>
</div>

<div class="close-button text-white" (click)="activeModal.dismiss()"><img class="w-100" src="/assets/images/icon/close.svg"></div>