<div class="py-4">
    <h2 class="text-center large-text text-white mb-4">座席選択</h2>

    <p class="p-3 large-text bg-white mb-3">{{ (purchase | async).screeningEvent?.name.ja }}</p>

    <div class="d-flex justify-content-center align-items-center mb-3 text-white">
        <div class="d-flex align-items-center mx-3">
            <div class="small-text border p-2">スクリーン</div>
            <div class="large-text ml-3"><strong>{{ (purchase | async).screeningEvent?.location.name.ja }}</strong></div>
        </div>
        <div class="d-flex align-items-center mx-3">
            <div class="small-text border p-2">上映時間</div>
            <div class="ml-3 text-warning">
                <strong class="large-text">{{ moment((purchase | async).screeningEvent?.startDate).format('HH:mm') }}</strong>
                <span> - {{ moment((purchase | async).screeningEvent?.endDate).format('HH:mm') }}</span>
            </div>
        </div>
    </div>

    <div class="px-5 mb-4">
        <div class="bg-white">
            <div class="pt-4 pb-3 d-flex justify-content-center align-items-center seats border-bottom mx-auto">
                <div class="mx-3 d-flex align-items-center">
                    <div><img src="/images/theater/seat/normal.svg"></div>
                    <div class="ml-3">空席</div>
                </div>
                <div class="mx-3 d-flex align-items-center">
                    <div><img src="/images/theater/seat/normal_active.svg"></div>
                    <div class="ml-3">選択中</div>
                </div>
                <div class="mx-3 d-flex align-items-center">
                    <div><img src="/images/theater/seat/normal_disabled.svg"></div>
                    <div class="ml-3">購入不可</div>
                </div>
            </div>
        </div>
        <app-screen class="bg-white" [screenData]="(purchase | async).screenData" [screeningEventOffers]="(purchase | async).screeningEventOffers"
            [reservations]="(purchase | async).reservations" [authorizeSeatReservation]="(purchase | async).authorizeSeatReservation" (select)="selectSeat($event)">
        </app-screen>
    </div>

    <div class="w-50 mx-auto">
        <button type="button" class="btn btn-block bg-primary py-3 text-white large-text" [disabled]="isLoading | async" (click)="onSubmit()">次へ</button>
    </div>

</div>

<app-navigation prevLink="/purchase/schedule"></app-navigation>