<div class="py-4 px-3">
    <h2 class="text-center large-text text-white mb-4">券種選択</h2>

    <div class="mb-4">
        <div class="d-flex justify-content-center align-items-center">
            <p class="text-white">ムビチケ券を利用</p>
            <button type="button" (click)="openMovieTicket()" class="movie-ticket ml-3 btn btn-block bg-white border-danger py-3">
                <img src="/assets/images/mvtk.svg" height="24">
            </button>
        </div>
    </div>

    <div class="reservations d-grid align-items-center mb-4">
        <div *ngFor="let reservation of (purchase | async).reservations" class="reservation bg-secondary d-grid align-items-center border rounded">
            <div class="seat text-center text-white">
                <span class="mr-3">座席</span>{{ reservation.seat.seatNumber }}</div>
            <button *ngIf="reservation.ticket === undefined" type="button" (click)="openTicketList(reservation)" class="btn btn-block rounded-0 py-3 bg-white">券種を選択してください</button>
            <button *ngIf="reservation.ticket !== undefined" type="button" (click)="openTicketList(reservation)" class="btn btn-block rounded-0 py-3 bg-white">{{
                reservation.ticket.ticketOffer.name.ja | slice:0:10 }} {{
                reservation.getTicketPrice().total | currency : 'JPY' }}</button>
        </div>
    </div>

    <div class="w-50 mx-auto">
        <button type="button" class="btn btn-block bg-primary py-3 text-white large-text" [disabled]="isLoading | async" (click)="onSubmit()">次へ</button>
    </div>

</div>

<app-navigation prevLink="/purchase/seat"></app-navigation>