<div class="py-4 px-3">
    <div class="mb-4">
        <h2 class="text-center large-text text-white mb-4">チケット発券</h2>
        
        <form [formGroup]="inquiryForm">
            <div class="form-group mx-auto">
                <div class="bg-secondary d-grid align-items-center border rounded">
                    <label class="text-center text-white" for="">購入番号</label>
                    <input type="text" class="form-control py-3 large-text rounded-0" formControlName="confirmationNumber" id="confirmationNumber"
                        placeholder="（例）11223344">
                </div>
                <div *ngIf="inquiryForm.controls.confirmationNumber.invalid && inquiryForm.controls.confirmationNumber.touched"
                    class="mt-2">
                    <p *ngIf="inquiryForm.controls.confirmationNumber.errors.required" class="text-danger">購入番号が未入力です</p>
                    <p *ngIf="inquiryForm.controls.confirmationNumber.errors.pattern" class="text-danger">購入番号は数字で入力してください</p>
                </div>
            </div>
            <div class="form-group mx-auto">
                <div class="bg-secondary d-grid align-items-center border rounded">
                    <label class="text-center text-white" for="">電話番号</label>
                    <input type="tel" class="form-control py-3 large-text rounded-0" formControlName="telephone" id="telephone" placeholder="（例）09000000000">
                </div>
                <div *ngIf="inquiryForm.controls.telephone.invalid && inquiryForm.controls.telephone.touched" class="mt-2">
                    <p *ngIf="inquiryForm.controls.telephone.errors.required" class="text-danger">電話番号が未入力です</p>
                    <p *ngIf="inquiryForm.controls.telephone.errors.minlength" class="text-danger">電話番号は{{
                        inquiryForm.controls.telephone.errors.minlength.requiredLength }}文字以上で入力してください
                    </p>
                    <p *ngIf="inquiryForm.controls.telephone.errors.maxlength" class="text-danger">電話番号は{{
                        inquiryForm.controls.telephone.errors.maxlength.requiredLength }}文字以下で入力してください
                    </p>
                    <p *ngIf="inquiryForm.controls.telephone.errors.pattern" class="text-danger">電話番号は数字で入力してください</p>
                    <p *ngIf="inquiryForm.controls.telephone.errors.telephone" class="text-danger">電話番号が正しくありません</p>
                </div>
            </div>
        </form>
    </div>

    <div class="w-50 mx-auto">
        <button type="button" class="btn btn-block bg-primary py-3 text-white large-text" (click)="onSubmit()">照会</button>
    </div>

</div>


<app-navigation prevLink="/purchase/schedule" [print]="false"></app-navigation>