<div class="radius bg-light-gray">
    <div class="screen" [class.zoom]="zoomState" style="visibility: visible;" (window:resize)="resize()">
        <div [class.active]="zoomState" class="zoom-btn text-center" (click)="scaleDown()">
            <div class="small-x-text" href="#">ズーム
                <br>解除</div>
        </div>
        <div *ngIf="screenData" class="screen-scroll" [ngStyle]="{ 
            'height.px': height,
            'transform-origin': origin,
            'transform': 'scale(' + scale + ')'
        }">
            <div class="screen-inner {{ screenType }}" [ngStyle]="{ 'width.px': screenData.size.w, 'height.px': screenData.size.h }"
                (click)="scaleUp($event)">

                <div *ngFor="let object of screenData.objects" class="object" [ngStyle]="{
                    'width.px': object.w, 
                    'height.px': object.h, 
                    'top.px': object.y, 
                    'left.px': object.x, 
                    'background-image': 'url(' + object.image + ')',
                    'background-size': object.w + 'px ' +object.h + 'px'
                }"></div>

                <div *ngFor="let columnLabel of screenData.columnLabels" class="object label-object column-object column-object-{{ columnLabel.id }}"
                    [ngStyle]="{
                    'width.px': columnLabel.w,
                    'height.px': columnLabel.h, 
                    'top.px': columnLabel.y, 
                    'left.px': columnLabel.x
                }">{{
                    columnLabel.label }}</div>

                <div *ngFor="let lineLabel of screenData.lineLabels" class="object label-object line-object line-object-{{ lineLabel.id }}"
                    [ngStyle]="{
                    'width.px': lineLabel.w,
                    'height.px': lineLabel.h, 
                    'top.px': lineLabel.y, 
                    'left.px': lineLabel.x
                }">{{
                    lineLabel.label }}</div>


                <div *ngFor="let seat of seats" class="seat {{ seat.className }} {{ seat.status }}" [ngStyle]="{
                    'top.px': seat.y, 
                    'left.px': seat.x,
                    'width.px': seat.w,
                    'height.px': seat.h
                }"
                    (click)="seatSelect(seat)">
                    <span>{{ seat.code }}</span>
                </div>
            </div>
        </div>
        <div *ngIf="screenData" [innerHTML]="screenData.style"></div>
    </div>
</div>